@font-face {
    font-family: 'Rajdhani-sb';
    src: url(assets/fonts/Rajdhani/Rajdhani-SemiBold.ttf);
}
@font-face {
    font-family: 'Rajdhani-md';
    src: url(assets/fonts/Rajdhani/Rajdhani-Medium.ttf);
}
@font-face {
    font-family: 'Rajdhani-rg';
    src: url(assets/fonts/Rajdhani/Rajdhani-Regular.ttf);
}
@font-face {
    font-family: 'Post-no-bills-EX';
    src: url(assets/fonts/post-no-bills/postnobillscolombo-extrabold.ttf);
}
@font-face {
    font-family: 'Wild-Worlds';
    src: url(assets/fonts/Wild-Words-Font-2/CC\ Wild\ Words\ Italic.ttf);
}
@font-face {
    font-family: 'Wild-Worlds-bold';
    src: url(assets/fonts/Wild-Words-Font-2/CC\ Wild\ Words\ Bold\ Italic.ttf);
}